DASHSCOPE_API_KEY=sk-ws-H.RPRLPIX.qNbu.MEQCIFfpWVkR7ptihXAqiy85tAG6yn4RSqgsxVgDicLa4eySAiBH5YeCJiCuo5jtC2UOL0LkDTZ7oYnm12z0V6JmNFDyRg
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL=qwen-max
DASHSCOPE_EMBEDDING_MODEL=text-embedding-v4
HOST=0.0.0.0
PORT=9900
DEBUG=true

